body {
  background: linear-gradient(120deg, #0f2027, #203a43, #2c5364);
  color: white;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #333;
  color: white;
  padding: 15px 50px;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}
nav ul li a.active {
  color: #007bff;
  font-weight: bold;
  border-bottom: 2px solid #007bff;
}

.skills-container {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  gap: 10px; 
}
.skill-item {
  background:  rgba(255, 255, 255, 0.1);
  color: white;
  padding: 10px 15px;
  border-radius: 8px;
  width: 50%;
  text-align: center;
}



section {
  padding: 20px;
  text-align: center;
}

.project {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 20px;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
}

input, textarea {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background: #333;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}
.code-btn {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 12px;
  background: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: 0.3s ease;
}

.code-btn:hover {
  background: #0056b3;
}

#contact {
  background: rgba(0, 0, 0, 0.2); 
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  color: white;
}

.contact-info p a {
  color: #00bfff; 
  font-weight: bold;
  text-decoration: none;
}

.contact-info p a:hover {
  text-decoration: underline;
}
